% Takes ages to load
LastResort.ttf % a MacOSX font, but also available for free from unicode.org 
% Segfaults under LuaTeX 0.76
lingoes.ttf
% http://tug.org/pipermail/luatex/2013-May/004239.html
Diablindall.ttf

